/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@700&display=swap');



/*Variables*/
:root {
    --navfont: 'Khand', Arial, Helvetica, sans-serif;
    --font: 'Poppins', Arial, Helvetica, sans-serif;
    --accent: #009aff;
    --text: #2f5073;
    --text-hover: #18293b;
}


/*MISC*/
* {
    margin: 0%;
    padding: 0%;
}

::selection {
    background-color: #2f5073;
    color: #e3e1e1;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e3e1e1;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #e3e1e1;
}

::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: 32px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-hover);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/*Navbar*/
.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    z-index: 2;
    background-color: #e3e1e1;
}

/*nav left*/
.logo {
    width: 50px;
    height: auto;
    margin-left: 10%;
    cursor: pointer;
    fill: var(--text);
    user-select: none;
}
.navLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navLeft h1 {
    font-family: var(--navfont);
    font-size: 35px;
    color: var(--text);
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    user-select: none;
    cursor: pointer;
}

/*nav right*/
.navItems {
    list-style: none;
}

.navItems li {
    display: inline-block;
    padding: 0px 20px;
}

.navItems li a {
    text-decoration: none;
    color: var(--text);
    font-family: var(--font);
    transition: all .3s ease 0s;
    font-weight: 500;
    user-select: none;
}

.navItems li a:hover {
    color: var(--text-hover);
    border-bottom: 3px solid var(--text-hover);
}

.Kbutton {
    border: 2px solid var(--text);
    padding: 5px;
    border-radius: 32px;
}


/*Home*/
.banner {
    background-image: url(/img/Background.jpg);
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


/*About me*/
#aboutMe {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
}

.AMtext {
    width: 65%;
    height: 80%;
    font-family: var(--font);
    text-align: center;
}

#AMtext {
    padding-bottom: 25px;
    border-bottom: 3px solid var(--text);
}

#AMtext h1 {
    font-size: 50px;
    color: var(--text);
    font-weight: 800;
}

#AMtext p {
    font-size: 25px;
    color: var(--text);
    font-weight: 350;
}

#AMtext span.boldtxt {
    font-weight: 600;
}


/*Contact*/
#contact {
    width: 100%;
    height: 100vh;
    background-color: var(--text-hover);
}
.Clinks {
    text-decoration: none;
    color: #e3e1e1;
    border-bottom: 2px solid white;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
}
.linksContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    border: 3px soild white;
    transform: translateX(50%);
}
.Ctext {
    font-family: var(--font);
    color: #e3e1e1;
    text-align: center;
    padding-top: 10%;
    font-size: 35px;
    user-select: none;
}

#email h1 {
    font-family: var(--font);
    font-weight: 400;
    font-size: 25px;
}

#mailicon {
    font-size: 30px;
    transform: translateY(7px);
    margin-right: 10px;
}

.twitter {
    text-decoration: none;
    font-size: 25px;
    font-family: var(--font);
    color: #e3e1e1;
    user-select: text;
}

#twittericon {
    width: 40px;
    height: auto;
    transform: translateY(10px);
    margin-right: 10px;
}

.youtube {
    text-decoration: none;
    font-size: 25px;
    font-family: var(--font);
    color: #e3e1e1;
    user-select: text;
}

#youtubeicon {
    width: 35px;
    height: auto;
    transform: translateY(4px);
    margin-right: 10px;
}

#discordicon {
    width: 35px;
    height: auto;
    transform: translateY(10px);
    margin-right: 10px;
}

#discord h1 {
    font-size: 25px;
    font-family: var(--font);
    color: #e3e1e1;
    font-weight: 400;
}

#discord a {
    text-decoration: none;
    user-select: text;
}