/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@700&display=swap');



/*Variables*/
:root {
    --navfont: 'Khand', Arial, Helvetica, sans-serif;
    --font: 'Poppins', Arial, Helvetica, sans-serif;
    --accent: #009aff;
    --text: #2f5073;
    --text-hover: #18293b;
}


/*MISC*/
* {
    margin: 0%;
    padding: 0%;
}

::selection {
    background-color: #2f5073;
    color: #e3e1e1;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e3e1e1;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #e3e1e1;
}

::-webkit-scrollbar-thumb {
    background: var(--text);
    border-radius: 32px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-hover);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/*Navbar*/
.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    z-index: 2;
    background-color: #e3e1e1;
}

/*nav left*/
.logo {
    width: 50px;
    height: auto;
    margin-left: 10%;
    cursor: pointer;
    fill: var(--text);
    user-select: none;
}
.navLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navLeft h1 {
    font-family: var(--navfont);
    font-size: 35px;
    color: var(--text);
    text-align: center;
    vertical-align: middle;
    padding-top: 3px;
    user-select: none;
    cursor: pointer;
}

/*nav right*/
.navItems {
    list-style: none;
}

.navItems li {
    display: inline-block;
    padding: 0px 20px;
}

.navItems li a {
    text-decoration: none;
    color: var(--text);
    font-family: var(--font);
    transition: all .3s ease 0s;
    font-weight: 500;
    user-select: none;
}

.navItems li a:hover {
    color: var(--text-hover);
    border-bottom: 3px solid var(--text-hover);
}


/*Krunke Portfolio Home*/
.KrunkePortfolio {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    flex-direction: column;
    user-select: none;
} 

.KrunkePortfolio::before {
    content: " ";
    position: absolute;
    background-image: url(/img/krunker_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: .1;
}

.KPHbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.KPtext {
    font-family: var(--font);
    font-weight: 800;
    color: var(--text);
    font-size: 50px;
}

.KPsubtext {
    font-family: var(--font);
    font-weight: 300;
    color: var(--text);
    font-size: 30px;
}

.KPHbuttons a {
    text-decoration: none;
    font-family: var(--font);
    color: var(--text);
    font-weight: 500;
    font-size: 30px;
    margin-top: 50px;
}

.GFX{
    margin-right: 4em;
    position: relative;
    padding: 5px 40px;
}

.GFX::after, .GFX::before {
    content: " ";
    position: absolute;
    border: 3px solid var(--text);
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    bottom: 0;
    transition: transform .3s ease;
    border-radius: 32px;
}

.GFX:hover::after {
    transform: translate(5px, 5px);
}

.GFX:hover::before {
    transform: translate(-5px, -5px);
}

.CSS {
    margin-left: 4em;
    position: relative;
    padding: 5px 40px;
}

.CSS::after, .CSS::before {
    content: " ";
    position: absolute;
    border: 3px solid var(--text);
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    bottom: 0;
    transition: transform .3s ease;
    border-radius: 32px;
}

.CSS:hover::after {
    transform: translate(5px, -5px) !important;
}

.CSS:hover::before {
    transform: translate(-5px, 5px);
}


/*GFX*/
#GFXarea {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--text);
}

.GFXtext {
    font-family: var(--font);
    color: #e3e1e1;
    font-size: 65px;
}

.GFXitems {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.GFXthumb {
    width: 500px;
    height: auto;
    border-bottom: 10px solid var(--text-hover);
    border-left: 5px solid var(--text-hover); 
    border-right: 5px solid var(--text-hover);
}

#GFXlightbox1 {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    transform: scale(0,1);
    transform-origin: left;
    transition: transform .15s ease-in-out;
}

#GFXlightbox1:target {
    transform: scale(1,1);
}

.GFXclose {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, .1);
    top: 15.5%;
    right: 17%;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GFXclose::after {
    content: "X";
    font-family: var(--font);
    color: #e3e1e1;
    font-weight: 900;
}

#GFXlightbox2 {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    transform: scale(0,1);
    transform-origin: right;
    transition: transform .15s ease-in-out;
}

#GFXlightbox2:target {
    transform: scale(1,1);
}

#GFXlightbox2 img {
    width: 853px;
    height: auto;
}

.GFXimg1 {
    margin-right: 5%;
}

.GFXimg2 {
    margin-left: 5%;
}